/Jetabroad.StackLogger.Logger.aps
/Jetabroad.StackLogger.Logger.vcxproj.user
/Jetabroad.StackLogger.Logger_h.h
/Jetabroad.StackLogger.Logger_i.c
/bin/
/clrdata.h
/clrdata_i.c
/clrdata_p.c
/dlldata.c
/obj/
/xclrdata.h
/xclrdata_i.c
/xclrdata_p.c
